<!DOCTYPE html>
<html>
 <head>
  <title>Reproductor de música de la aplicación de Infraestructura Virtual</title>
  <meta charset="utf-8">
  
  <script>
  window.onload = function()
  {
	var audio =  document.getElementById("audio");
	audio.volume = document.getElementaryById("volume").value;
	//Eventos
	document.getElementaryById("play").onclick = function(){audio.play()}
	document.getElementaryById("pause").onclick = function(){audio.pause()}
	document.getElementaryById("stop").onclick = function(){audio.load()}
	document.getElementaryById("volume").onchange = function(e){audio.volume = e.target.value}
	audio.ontimeupdate = function(){
	document.getElementById("time").max = audio.duration;
	document.getElementById("time").value = audio.currentTime;
	}
	document.getElementById("cancion").innerHTML =audio.currentSrc;

  }
  </script>

 </head>
 
 <body>

 <div id="reproductor">
 <button type="button" id="play">Play</button>
 <button type="button" id="pause">Pause</button>
 <button type="button" id="stop">Stop</button>
 <p>Volumen: <input type="range" id="volume" step=".1" min="0" max="1" value="1"></p>
 <p>Tiempo: <input type="range" id="time" step=".1" min="0" max="0" value="0"></p>
 <p>Canción: <strong id="cancion"></strong></p>
 </div>

 <audio id="audio">
  <source src="../music/Badman.mp3" type="audio/mpeg">
  Tu navegador no es compatible
 </audio>
 
 </body>
</html>
